.table, .table th, .table td {
    border-collapse: collapse;
    border: 1px solid;
}

.table th,
.table td{
    padding: 5px;
}

.formData {
    margin-top: 20px;
}

.btn-submit{
    margin-top: 10px;
}
